.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.topnav {
  height: 56px;
  padding: 0px 20px;
  background: #3f51b5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Style the logo */
.logo {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.logo span {
  color: #8bc34a;
}

/* Desktop Menu */
.menu {
  margin-left: 15px;
  height: 100%;
  display: none;
}

.menu a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active-link {
  background: #ff9800;
  color: #fff;
}

/* Mobile Menu Show & Close buttons */
.show-mobile-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

.close-mobile-menu-button {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
}

.mobile-menu a {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: orange;
}

/* Media queries for responsiveness */
@media screen and (min-width: 680px) {
  .topnav {
    justify-content: flex-start;
  }

  .show-mobile-menu-button {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

/* Other styles */
.content {
  padding: 40px 20px;
}
/* Footer Styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.footer-description {
  width: 250px;
}

.footer-heading {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  color: #fff;
  margin-right: 10px;
}

.footer-text {
  margin: 0;
}

